<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm1ZdUFigOc6vs8_8HI1qVqFrUK5mXBbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>701811019217</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abhishek-3078.mynotes</string>
	<key>PROJECT_ID</key>
	<string>first-mynotes-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>first-mynotes-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701811019217:ios:0ed895d55142ca24d0e4f0</string>
</dict>
</plist>